<h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p>


<h1>All Secrets</h1>

<% @secrets.all.each do |secret| %>
	<!-- Secret Content that everyone can see -->
	<h1><%= secret.content %></h1>
	<h3><%= secret.likes.count %> likes</h3>

	<% if secret.user == current_user %>
	<!-- Secret Content that only the User that created that secret can see -->
		<fieldset>
			<form action="/secrets/<%= secret.id %>" method="POST">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete Secret">
				
			</form>
		</fieldset>
	<% end %>

	<!-- Like and Unlike-->
	<% unless secret.users.include?(current_user) %>
		<form action = "/likes" method = "post">
		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		    <input type="hidden" name="like[secret_id]" value = "<%= secret.id %>">
			<input type="submit" name="Like" value = "Like">			
		</form>	
	<% else %>
		<form action = "/likes/<%= Like.where(user: current_user, secret: secret).first.id%>" method = "post">
		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" name="Unlike" value = "Unlike">
		</form>
	<% end %>
<% end %>


